/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #111111;
    font-family: 'Raleway', sans-serif;
    background: url('../images/drummer.jpg') center center no-repeat;
    background-attachment: fixed;
}
.marketing { padding: 90px 0px 0px 0px!important;}

.content { background: #fff; opacity: 0.9; border-radius: 6px; min-height: 800px; }
h1, h2, h3, h4, h5, h6 {
    font-size: 21px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}
.no-underline a { text-decoration: none; }
.no-underline a:hover { text-decoration: none; }
.no-underline img:hover { text-decoration: none; }
.carousel { margin: -50px 0px 0px 0px; }
.logo-section {
    background: #fff;
    opacity: 0.9;
}
.logo {
    margin: 30px 0px 0px 280px;
    padding: 20px 0px 20px 0px!important;
}
.footer { margin-bottom: 10px; padding-bottom: 20px; font-size: 11px;}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
.navbar-default { border-bottom: none!important; opacity: 0.9}
.navbar-default li a { color: #111!important; }
.navbar-default li a:hover { color: #fff!important; background: #000!important; }
.tel { color: #111!important; margin: 14px 0px 0px 20px; }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: transparent;
  margin-top: 80px;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 300px;
}
.carousel-control {
  padding: 210px 0px 0px 0px;
    background: transparent!important;
}
.carousel-control.left, .carousel-control.right {
    background-image: none!important;
}
.carousel-control .item { background: transparent!important; }
.carousel-control:hover { background: transparent!important;}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }

}

/*
 * Mobile Layouts
 */
@media only screen and (max-width: 450px) {
    .logo { width: 100px!important; margin-top: -40px; margin-left: -10px;}
    .carousel { visibility: hidden; }
    .footer i { font-size: 12px;}
    .content { margin-top: -450px; }
    .footer .copyright { font-size: 12px; }

}